<h1>Formulaire</h1>
<form [formGroup]="form">
  <label>
    N° client
    <input type="number" formControlName="clientId" />
  </label>
    @if (form.controls.clientId.invalid && form.controls.clientId.touched) {
    <p>Le n° client est requis.</p>
  }

  <label>
    Age
    <input type="number" formControlName="ageClient" />
  </label>
  @if (form.controls.ageClient.hasError('required') && form.controls.ageClient.touched) {
     <p>L'age est requis</p>
  }
  @if (form.controls.ageClient.hasError('ageMinimum')) {
     <p>Age minimum : 18 ans.</p>
  }

  <label>
         Type de contrat
        <select formControlName="typeDeContrat">
          <option [ngValue]="null" disabled>choisir un type</option>
          <option [ngValue]="'auto'">Auto</option>
          <option [ngValue]="'habitation'">Habitation</option>
          <option [ngValue]="'sante'">Santé</option>
        </select>
  </label>
  @if (form.controls.typeDeContrat.invalid && form.controls.typeDeContrat.touched) {
       <p>Le type de contrat est requis.</p>
  }
  <label>
  Options
  <p-select
    formControlName="optionsChoisies"
    [options]="optionsDisponibles"
    optionLabel="label"
    optionValue="value"
    placeholder="Choisir des options"
    multiple
  ></p-select>
</label>
  
  <p>Prime : {{ primeAffichee() }} €</p>
</form>
